/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.75;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
    color: #333;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1200px;
    width: 100%;
}

header {
    background-color: #e6ddc4;
    color: #333;
    padding: 1em 0;
    text-align: center;
}

header a {
    color: #333;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

main {
    padding: 2em;
    background: #fff;
}

h1 {
    color: #8B0000; /* Deep red */
}

h2 {
    color: #8B0000; /* Deep red */

}
footer {
    background-color: #e6ddc4;
    color: #333;
    text-align: center;
    padding: 1em 0;
}

section {
    margin-bottom: 2em;
}

section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5em;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 0.5em;
}

ul li a {
    color: #333;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
}

.content section {
    flex: 3;
}


p {
    margin-bottom: 1.5em;
}

img {
    max-width: 100%;
    height: auto;
}

a:link, a:visited, a:hover, a:active {
    color: #0000FF; /* Blue */
}

a:hover, a:active {
    text-decoration: underline; /* Add this if you want underline on hover/active */
}
